/* Styling sheet for Oscar Play*/
.name:hover{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border: solid orange;
    text-shadow: 2px 2px 4px #000000;
    filter: blur(0.3px);
}
.scene{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.stage:hover{
    color: red;
    background-color: lightgoldenrodyellow;
    opacity: 0.5;
}
.speach{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.illingworth{
    color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.gerald{
    color: thistle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.hunstanton{
    color: rosybrown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.arbuthnot{
    color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.archdeacon{
    color: chocolate;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.caroline{
    color: paleturquoise;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.allonby{
    color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.stutfield{
    color: magenta;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.kelvil{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.farquhar{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
/*Table Styling*/
table { border: solid rgb(0, 87, 128) 3px;
    border-collapse: collapse;
    width: 75%;}    
td {border: solid 1px;
    text-align: left;
    padding: 10px;}
th {border: solid 1px;
    text-align: center;
    padding: 15px;}
tr {background-color: mediumturquoise ;}
tr:nth-child(even) {background-color: rgb(238, 227, 227);}
/*Adding icon style*/
.material-icons {
    color: #ccc;
    font-size: 3rem;
}  
.material-icons:hover {
    color: #000;
}
/*Adding image style*/
.left{
    float:right;
}
.text h4 {
    width:100%;
    float:left;
    font-size:0.6em;
}
.image{
    float: center;
    padding: 15px;
    display: block;
}
/*Style for Navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: rgb(219, 15, 15);
    padding: 8px;
    background-color: #dddddd;
}
li a:hover {
    background-color: #111;
}